* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 30px;
  padding: 0;
  margin: 30px 24px;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.hamburger-button.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger-button.open .line:nth-child(2) {
  opacity: 0;
}
.hamburger-button.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-links {
  display: none;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 60px;
  width: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
}

.nav-links a:hover {
  background-color: #111;
}
.header {
  background-color: #d2cdc6;
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 24px;
  margin-top: 27px;
  margin-bottom: 107px;
}
.resonance {
  background: linear-gradient(180deg, #d2cdc6 0%, #f5f5f5 100%);
}
.resonance__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(3.125rem, 0.4167rem + 13.5417vw, 11.25rem);
  line-height: 70%;
  text-align: center;
  color: #52483e;
  text-align: center;
}
.title_gradient {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(3.125rem, 0.4167rem + 13.5417vw, 11.25rem);
  line-height: 70%;
  text-align: center;
  background: linear-gradient(0deg, #daccbc 0%, #afa497 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resonance__headphones {
  display: flex;
  margin: 0 auto;
  width: clamp(20rem, 4.0833rem + 79.5833vw, 67.75rem);
  height: clamp(20rem, 4.0833rem + 79.5833vw, 67.75rem);
}
.style {
  background-color: #f5f5f5;
  padding-top: 1px;
}
.style__title {
  margin-top: 42px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(2.375rem, 2rem + 1.875vw, 3.5rem);
  line-height: 143%;
  text-transform: capitalize;
  text-align: center;
  color: #52483e;
  text-align: center;
}
.style__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(1.0625rem, 0.9167rem + 0.7292vw, 1.5rem);
  text-align: center;
  color: #8b8782;
}
.different__headphones {
  width: clamp(20rem, 12.9167rem + 35.4167vw, 41.25rem);
  height: clamp(20rem, 12.9167rem + 35.4167vw, 41.25rem);
  display: flex;
  margin: 0 auto;
}
.buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.button__color {
  border: none;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}
.red {
  background: #883d39;
}
.green {
  background: #94915b;
}
.yellow {
  background-color: #d8b74b;
}
.card {
  padding-top: 1px;

  border-radius: 24px;
  width: 340px;
  height: 520px;
  background: linear-gradient(180deg, #d2cdc6 0%, #f8bf93 100%);
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.model {
  border-radius: 24px;
  width: 340px;
  height: 340px;
  text-align: center;
  margin-top: 15px;
}
.card__title {
  text-align: center;
  margin-top: 42px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: #3b3b3b;
}

.details {
  background-color: #f5f5f5;
  padding-top: 1px;
}

.details__title {
    margin-top: 48px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 42px;
  text-transform: capitalize;
  text-align: center;
  color: #52483e;
}
.details__text {
    margin-top: 8px;
}
.image__containers {
    margin-top: 10px;
    display: flex;
    margin-left: 15px;
    gap: 5px;
}

.details__img {
    width: 310px;
    height: 310px;
    margin-bottom: 30px;
}


.dream {
    background-image: url("images/Feature\ Image\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 803px;
    padding-top: 1px;
}


.dream__title {
    font-family: var(--font-family);
font-weight: 600;
font-size: 60px;
line-height: 133%;
text-align: center;
color: #fff;
margin-top: 20px;
}

.dream__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.buy {
    border: none;
    border-radius: 24px;
    padding: 10px 32px;
    width: 132px;
    height: 44px;
    background: #f5f5f5;
    margin-top: 10px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.buy:hover {
    
}
















.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.4s ease;
}